.stats {
  gap: 2rem;
  & p {
    letter-spacing: 0.1rem;
    font-size: 0.625em;
  }
  border-top: 1px solid var(--clr-neutral-100);
  padding: 1.4rem 0;
  margin-top: var(--size-100);
}
.stats__col {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 0.1em;
}
